button.button.button-royal.margin-align {
    margin-top: 55px;
}
.margin-top-55{

	margin-top: 50px;
	font-size: 30px;
    color: wheat;
    margin-bottom: 30px;
}
.login-top{
	margin-top: 30%;
}
.recuerda-title{

	margin-top: 70px;
	font-family: Giddyup Std;
	font-size: 70px;

}

button.button.button-block.button-royal.button-login
{
background-color: #c4e68c;
color:#464646;
border-color:#c4e68c;
}
.col.textdecoration a{
	text-decoration: none;
	color: white;
}
button.button.button-block.button-royal.button-facebook{
    box-shadow: 2px 6px 4px #333;
	color: white;
	background-color: #3c599f;
	border-color: #3c599f;
}


.col.registrationTitle{
	margin-top: 70px;
	font-size: 20px;
}
input.emailimage{
	background-image: url("../img/email.png") ;
	background-repeat: no-repeat;
	background-color: #82a15e;
	 padding-left: 70px;
	 position: relative;
}
.task-style{
	color: white;
	
}
.text-align-center{
	text-align: center;
}
.item.border{

 	padding: 0px!important;
	font-size: 14px !important;
	margin-left: 10%!important;
   	border-left-style: none!important;
    border-right-style: none!important;
    margin-right: 10%!important;
    border-top-style: none!important;
     border-color: #829877!important;
}
.margin-top{
	margin-top: 35px;
}
.margin-top-15{
	margin-top: 15px;
}
.color-change{
	color: #a5aaa4;
}
.margin-top-40{
	margin-top: 40px;
}
.color-white{
	color: white;
}
button.button-radius{
	
	border-radius: 5px;

}
input.placeholder-background {
	background-color: #64775b;
	color: white;
	padding-left: 40px;
}
img.clock{
	width: 27px;
	height: 27px;
	padding: 3px;
}
textarea.placeholder-background {
	background-color: #64775b;
	color: white;
	padding-left: 40px;
}
.button-background{
	background-color: #388f96!important;
	border-color: #388f96!important;
}
input[type=range]{
	background: linear-gradient(to right,#379096 0,#379096 100%) center/99% 4px no-repeat!important;
}
input.calenderImage{
	background: url("../img/calender.png") #64775b right 6px bottom 4.5px;
    background-repeat: no-repeat;
    position: relative;
    background-size: 22px 75%;
}
	}
	ul.list.margin-top-15 {
    margin-top: 10px;
}
li.item.item-toggle.noBorder {
    border-style: none;
    color: white;
}
button.float-right-15{
	
	float: right;
	width: 55px;
	margin-right: 15px;
	color: black!important;
	background-color: white!important;
	border-color: white!important;
}
li.margin-top-20{
	margin-top: 20px;
	margin-left: 5px;
	font-size: 17px;
}
input.margin-bottom-20{
	margin-bottom: 20px;
}
col-20.text-align-center.color-change.margin-top-10.ng-binding {
    margin-left: 14px;
}
.fontchange{
	color: white !important;
}
.list {
    position: relative !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    padding-left: 0 !important;
    margin-bottom: 0px !important;
}
.red{
	background:rgb(162, 22, 6) !important;
	border-radius: 6px;
    height: 4px;
    padding: 0;
}
.red-lighter{
	background:rgb(154, 70, 61) !important; 
	border-radius: 6px;
    height: 4px;
    padding: 0;
}
.verylighter{
	background: rgb(214, 130, 121)!important;
	border-radius: 6px;
    height: 4px;
    padding: 0;
}
.task-name{
	padding: 0;
}
.popup-body .selected_date_full {
    background-color: #019688;
    margin: -10px -10px 0 -10px;
    height: 45px;
    text-align: center;
    font-weight: bold;
    color: #fff;
    line-height: 45px;
    font-size: 18px;
}
.popup-head {
     padding: 0px !important;
    margin-top: 0px !important;
}
.popup-body .button-clear {
    color: #009688;
}
.popup-body .select_section {
    padding: 1px 5px;
}
.popup-body .year_select:after {
    right: 5px;
    color: #009688;
    }
.item-select:after{
     color: #009688;
         right: 6px;
}
.row.weeks_row {
    font-weight: bold;
    color: black;
}
.padding_zero {
    padding-top: 0;
    color: black;
}
.popup-buttons {
    padding: 0;
    min-height: 45px;
}
.popup-buttons button {
    background-color: #009688;
    border-radius: 0;
    margin-right: 1px;
    color: #ffffff;
    margin-right: 0px;
}
.popup-buttons .button {  
    margin-right: 0px!important;
}
.item h3, h3 {
    margin: 0px !important;
}
.selected_date {
    background-color: #009688;
    border-radius: 50%;
    color: white;
    font-weight: bold;
}
.border-line{
	border-left: rgba(244,244,244,1);
    border-left-style: solid;
    margin-right: 7px;
    border-width: 1.5px;
}
.item-select select {
    top: 0;
    bottom: 0;
    right: 0;
    max-width: 65%;
    border: none;
    background: #fff;
    color: black;
}
.month_select select, .ionic_datepicker_popup .popup-body .year_select select {
    left: 0px;
    border: none;
    padding: 0;
}
 .popup-body .year_select select {
    left: 10px;
    border: none;
    padding: 0;
}

