<ion-view title={{pageTitle}}>
	<ion-content class="login-page">
		<div class="ion-content ">
			
			<div class="row">
			  <div class="col"></div>
			  <div class="col recuerda-title">Recuerda</div>
			  <div class="col"></div>
			</div> 
			<br>
			<br>
			<div class="row">
			  <div class="col-10"></div>
			  <div class="col">
			  	<div class="col loginOrSignup">Login or Sign up</div><br>
			  	<input type="text" class="userimage"ng-model="Login.currentUser.email" placeholder="User name"></input>
			  	<br>
			  	<input type="password" class="passwordimage"ng-model="Login.currentUser.password" placeholder="Password"></input>
			  </div>
			  <div class="col-10"></div>
			</div> 
			<div class="row button-margin login-top">
			  	<div class="col-10"></div>
			  	<div class="col">
			  		<button class="button button-block button-royal button-login"ng-click="Login.authinticateUser()">LOGIN</button>
			  	</div>
			  	<div class="col-10"></div>
			</div>	
			<div class="row">
				<div class="col-10"></div>
				<div class="col">
				 	<input type="checkbox"> Remember Me</input>
				</div>
				<div class=" col-10 border-line"></div>
				<div class="col textdecoration"ng-click="Login.SignUp()">Register</div>
			</div>	<br><br>
			<div class="row">
				<div class="col"></div>
				<div class="col" >OR Sign in with</div>
				<div class="col"></div>
			</div>	
			<div class="row">
				<div class="col-10"></div>
				<div class="col" > 
					<button class="button button-block button-royal button-facebook">FACEBOOK</button>
			   	</div>
			 <div class="col-10"></div>
			</div>	
		</div>

	</ion-content>
</ion-view>