<ion-view title={{pageTitle}}>
	<ion-content class="">
		<div class="ion-content ">
			<div class="row margin-top-40">
			  	<div class="col-10"></div>
			  	 <div class="col"><input type="text" class="placeholder-background" ng-model="Addtask.newTask.taskName" placeholder="Your Task Name"></div>
			  	<div class="col-10"></div>
			</div> 
			<div class="row">
				<div class="col-10"></div>
				<div class="col">
					
					<input type="text" class="placeholder-background calenderImage" ng-click="Addtask.openDatePicker()" ng-model="Addtask.newTask.taskDate" name="bday">
				
			    </div>
			 	<div class="col"></div>
			</div><br><br>
			<div class="row">
				<div class="col-10"></div>
				<div class="col fontchange">
 			 			Choose your Priorty
 			 	</div>
 			 	<div class="col-10"></div>
 			</div>
 			<div class="row">
 				<div class="col-10"></div>
				<div class="col rangewidth">
 			 		<i class="ion-low"></i>
						<input type="range"  ng-model="Addtask.newTask.priorityBar" ng-change="Addtask.priorityChanged()" name="volume"  style="width:100%;" />
					<i class="icon ion-high"></i>
 				</div>	
 				<div class="col-10"></div>		
			</div>

			<div class="row">
				<div class="col-10"></div>
				<div class="col color-change align-left default-priority" ng-class="{'highlight-priority' : (Addtask.newTask.taskPriority=='low')}">
					Low
				</div>
				<div class="col color-change align-center default-priority" ng-class="{'highlight-priority' : (Addtask.newTask.taskPriority=='medium')}">
					Medium
				</div>
				<div class="col color-change align-right default-priority" ng-class="{'highlight-priority' : (Addtask.newTask.taskPriority=='high')}">
					High
				</div>
				<div class="col-10"></div>
			</div>

	</div>
		<div class="row">
			 <div class="col-10"></div>
				<div class="col"><textarea class="placeholder-background" ng-model="Addtask.newTask.taskDescription" rows="4" cols="50" placeholder="Description"></textarea></div>
			<div class="col-10"></div>
		</div>
		<div class="row">
			  <div class="col-10"></div>
			  <div class="col-20">
			   	<button class="button button-small button-background button-block button-calm" ng-click="Addtask.addNewTask()">
  				SUBMIT
				</button>
			 </div>
			<div class="col"></div>
		</div>
	</div>
	</ion-content>
</ion-view>