<ion-view title={{pageTitle}}>
	<ion-content class="logs-page">
		<div class="ion-content">
			

			<div class="row margin-top">
			  <div class="col-10"></div>
			  <div class="col-33">
			  <button class="button button-block button-small button-calm" ng-click="Logs.reminderClicked()">Reminder</button>
			  </div>
			   <div class="col"></div>
			  <div class="col-33">
			  <button class="button button-block button-small button-calm" ng-click="Logs.tasksClicked()">Tasks</button>
			  </div>
			  <div class="col-10"></div>
			</div>
            	<ul class="list" ng-repeat="item in Logs.taskLogs">
    				<li class="item border">
    					<div class="row color-change">
      						<div class="col">{{item.taskName}}</div>
      						<div class="col">{{item.taskDate}}</div>
      						<div class="col">{{item.status}}</div>
      						<div class="col">{{item.taskPriority}}</div>
      					</div>
   				 	</li>
				</ul>
				<ul class="list" ng-repeat="item in Logs.reminderLogs">
    				<li class="item border">
    					<div class="row color-change">
      						<div class="col">{{item.reminderName}}</div>
      						<div class="col">{{item.reminderDate}}</div>
      						<div class="col">{{item.status}}</div>
      						<div class="col">{{item.reminderPriority}}</div>
      					</div>
   				 	</li>
				</ul>
			

		</div>
	</ion-content>
</ion-view>