<ion-view title={{pageTitle}}>
	<ion-content class="viewreminder-page">
		<div class="ion-content">
			<div class="row">
				<div class="col"></div>
			  <div class="col-5 margin-top"><img src="img/clock.png" class="clock"/></div>
			  <div class="col-30 margin-top-40">Time Left:{{ViewReminder.getDay()}}</div>
			  <div class="col-10"></div>
			</div>
			<div class="row color-change">
				<div class="col-10"></div>
			  	<div class="col">
			  	<div class="row color-white">Reminder Name: {{ViewReminder.getReminderDetails.reminderName}}</div>
			  	<div class="row color-white">Reminder Description: {{ViewReminder.getReminderDetails.reminderDescription}}</div>
			  	<div class="row color-white">Reminder Date: {{ViewReminder.getReminderDetails.reminderDate}}</div>
			  	<div class="row color-white">Reminder Priority: {{ViewReminder.getReminderDetails.reminderPriority}}</div>
				</div>
				<div class="col-10"></div>
			</div>
			<div class="row">
				<div class="col-5"></div>
				<div class="col">
			  		<button class="button icon-left ion-edit button-block button-small button-calm  button-radius">EDIT </button>
				</div>
				<div class="col">
			  		<button class="button ion-checkmark-round button-block button-small button-balanced button-radius">COMPLETE </button>
				</div>
				<div class="col">
			  		<button class="button icon-left ion-trash-b button-block button-small button-assertive button-radius">DELETE </button>
				</div>
				<div class="col-5"></div>
			</div>
	 	</div>
	</ion-content>
</ion-view><!-- <div class="row">
				<div class="col">
			  		<button class="button button-small button-positive">EDIT </button>
				</div>
				
				<div class="col">