<ion-view title={{pageTitle}}>
	<ion-content class="">
		<div class="ion-content ">	
			<br>
			<br>
			<div class="row">
				<div class="col-50">UserName</div>
				<div class="col-50">
					<input type="text" ng-model="Profile.profileDetails.userName" class="margin-bottom-15"readonly></input>
				</div>
			</div>
			<div class="row">
				<div class="col-50">Email id</div>
				<div class="col-50">
					<input type="text" ng-model="Profile.profileDetails.email" class="margin-bottom-20"readonly> </input>
				</div>
			</div>
			<div class="row">
				<div class="col-50">Email verified</div>
				<div class="col-50">
					<input type="text" ng-model="Profile.profileDetails.emailVerified"readonly></input>
				</div>
			</div>
			<div class="row">
				<div class="col-20"></div>
				<div class="col align-center ">
					<button class="button button-block button-balanced">EDIT</button>
				</div>
				<div class="col-20"></div>
			</div>
		</div>

	</ion-content>
</ion-view>