<ion-view title={{pageTitle}}>
	<ion-content class="viewtask-page">
		<div class="ion-content">
			<div class="row">
				<div class="col"></div>
			  <div class="col-5 margin-top"><img src="img/clock.png" class="clock"/></div>
			  <div class="col-30 margin-top-40">Time Left:{{ViewTask.getDay()}}</div>
			  <div class="col-10"></div>
			</div>
			<div class="row color-change">
				<div class="col-10"></div>
			  <div class="col">
			  	<div class="row color-white">Task Name: {{ViewTask.getTaskDetails.taskName}}</div>
			  	<div class="row color-white">Task Description: {{ViewTask.getTaskDetails.taskDescription}}</div>
			  	<div class="row color-white">Task Date: {{ViewTask.getTaskDetails.taskDate}}</div>
			  	<div class="row color-white">Task Priority: {{ViewTask.getTaskDetails.taskPriority}}</div>
			  
			</div>
			<div class="col-10"></div>
			</div>
			<br>
			<br>
			<div class="row">
				<div class="col-5"></div>
				<div class="col">
			  		<button class="button icon-left ion-edit button-block button-small button-calm  button-radius">EDIT </button>
				</div>
				<div class="col">
			  		<button class="button icon-left ion-checkmark-round button-block button-small button-balanced button-radius">COMPLETE</button>
				</div>
				<div class="col">
			  		<button class="button icon-left ion-trash-b button-block button-small button-assertive button-radius">DELETE </button>
				</div>
				<div class="col-5"></div>
			</div>
		</div>
	</ion-content>
</ion-view>