<ion-view>
	<ion-side-menus>
		<ion-side-menu side="left" style="overflow:scroll !important;">
			<!-- <div class="row header-first-row">
				<div class="col">
					<div class="slide-menu-user-name">
					</div>
				</div>
				
				<div nav-clear menu-close class="col-15 cursor-pointer absolute-right-10 margin-top-10"><a href="index.html#/settings"></a>
				</div>
			</div> -->
			<div class="header-side-menu-scroll"  side-menu-height>
				<ion-item nav-clear menu-close href="index.html#/dashboard" class="no-padding">
					<!-- <div class="icon-circle"> <img class="side-menu-icons" ng-src="img/icons/{{items.icon}}.png"></div><span>one</span>  -->
					<div class="slide-menu-heading">Username
					 </div>	
					 <img src="img/user-default.png"class="user-image-style">				
				</ion-item>

				<ion-item nav-clear menu-close href="index.html#/tasks" class="no-padding" >
					<div class="recuerda-slide-menu"ng-click="Header.goToPage(1)">My Tasks</div>					
				</ion-item>

				<ion-item nav-clear menu-close href="index.html#/reminder" class="no-padding">
					<div class="recuerda-slide-menu"ng-click="Header.goToPage(2)">Reminders</div>
				</ion-item>

				<ion-item nav-clear menu-close href="index.html#/profile" class="no-padding">
					<div class="recuerda-slide-menu" ng-click="Header.goToPage(3)">Profile</div>
				</ion-item>

				<ion-item nav-clear menu-close href="index.html#/settings" class="no-padding">
					<div class="recuerda-slide-menu" ng-click="Header.goToPage(4)">Settings</div>
				</ion-item>

				<ion-item nav-clear menu-close href="index.html#/logs" class="no-padding">
					<div class="recuerda-slide-menu" ng-click="Header.goToPage(5)">Logs</div>
				</ion-item>

				<ion-item nav-clear menu-close href="index.html#/login" class="no-padding">
					<div class="recuerda-slide-menu" ng-click="Header.goToPage(6)">Logout</div>
				</ion-item>

				
				<!-- <ion-item nav-clear menu-close ng-click="Header.logout()" class="padding-10">
					<div class="icon-circle no-margin-right"> <img class="side-menu-icons" ng-src="img/icons/logout-icon.png"></div><span class="logout-icon" translate="LOGOUT.PAGE_TITLE"></span> 
				</ion-item> -->
			</div>
			<!-- <div class="row">
				<div class="col side-menu-logo-box">
					<img class="side-menu-logo" src="img/hirs-logo.png"/>
				</div>
			</div> -->
		</ion-side-menu>
		<!-- Main content -->
		<ion-side-menu-content>		
			<ion-nav-bar class="bar-stable nav-title-slide-ios7">
				<button class="button button-icon button-clear ion-navicon" menu-toggle="{{Header.menuAlignment}}"></button>
				<div class="h1 title"></div>
				<ion-nav-buttons side="{{Header.filterAlignment}}">
					<a class="description" href="#/food/search" ng-if="currentState.name=='add-food'">
						<div class="icon ion-search">
						</div>
					</a>
				</ion-nav-buttons>
			</ion-nav-bar>
				<ion-nav-view class="ios-top-padding" name="menuContent"></ion-nav-view>
		</ion-side-menu-content>
	</ion-side-menus>
</ion-view>